{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block titulo %}Login{% endblock titulo %}

{% block conteudo %}

<div class="container">
    <div class="row">
        <div class="col-md-3">
        
        </div>
        <div class="col-md">
            <br>
            <hr>
            <h1 class="text-center">Favor realizar o Login!</h1>
            <a class="nav-link text-black text-center" href="{% url 'account_login' %}">Entrar</a>
            <hr>
        </div>
        <div class="col-md-3">
            
        </div>

    </div>
 
</div>
{% endblock conteudo %}
