
{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Sair{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
    
    </div>
    <div class="col-md">
        <h1>Sair</h1>
        <hr>
        Tem certeza que deseja sair?

        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            <br>
            <button class="btn btn-danger" type="submit">Sair</button>
            <a class="btn btn-warning" href="{% url 'pages:home' %}">Cancelar</a>
        </form>
       
    </div>
    <div class="col-md-3">
            
    </div>

</div>
{% endblock %}