{% extends 'base.html' %}
{% block titulo %}Login{% endblock titulo %}
{% load crispy_forms_tags %}

{% block conteudo %}

<div class="container">
    <div class="row">
        <div class="col-md-3">
        
        </div>
        <div class="col-md">
            <br>
            <h2>Cadastrar Equipamento</h2>
            <hr>

            <form action='' enctype="multipart/form-data" method="POST">{% csrf_token %}
                <table>
                  {{form|crispy}}
                </table>
                <br>
                <input type="submit" class="btn btn-success" value="Cadastrar">
            </form>
            
        </div>

    </div>
 
</div>
{% endblock conteudo %}
