{% extends 'base.html' %}
{% load filtros  %}
{% load static  %}
   
{% block conteudo %} 
<div class='container'>
    <br>
    <h1 class=''>Histórico de empréstimos</h1>
    <hr>
    <br>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Equipamento</th>
            <th scope="col">Empresa</th>
            <th scope="col">Data Empréstimo</th>
            <th scope="col">Data Devolução</th>
            <th scope="col">Tempo Duração</th>
            <th scope="col">Devolver</th>
          </tr>
        </thead>
        <tbody>
            {% for i in emprestimos %}
                <tr>
                    <td>{{i.equipamentos}}</td>
                    {% if i.nome_empresa_anonima == None %}
                        <td scope="row">{{i.empresa_responsavel}}</td>
                    {% else %}
                        <td>{{i.nome_empresa_anonima}}</td>
                    {% endif %}
                    <td>{{i.data_emprestimo}}</td>
                    <td>{{i.data_devolucao}}</td>
                    <td>{{i.data_devolucao|mostra_duracao:i.data_emprestimo}}</td>
                    {% if not i.data_devolucao%}
                    <td><a href="{% url 'ver_equipamento' i.id %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-reply-all-fill" viewBox="0 0 16 16">
                            <path d="M8.021 11.9 3.453 8.62a.719.719 0 0 1 0-1.238L8.021 4.1a.716.716 0 0 1 1.079.619V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z"/>
                            <path d="M5.232 4.293a.5.5 0 0 1-.106.7L1.114 7.945a.5.5 0 0 1-.042.028.147.147 0 0 0 0 .252.503.503 0 0 1 .042.028l4.012 2.954a.5.5 0 1 1-.593.805L.539 9.073a1.147 1.147 0 0 1 0-1.946l3.994-2.94a.5.5 0 0 1 .699.106z"/>
                          </svg>
                    </a>
                    </td>

                    {% endif %}
                </tr>
            {% endfor %}    
        </tbody>
      </table>
<div>


{% endblock conteudo %}

