{% extends 'base.html' %}
{% load filtros  %}
{% load static  %}
   
{% block conteudo %}
  <!-- The Modal excluir -->
  <div class="modal" id="myModal2">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Deseja realmente Excluir?</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <a href="{% url 'excluir_equipamento' id_equipamento %}" class="btn btn-danger">Excluir</a> 
        </div>
      </div>
    </div>
  </div>
 <!-- The Modal -->

<div class='container'>
    <br>
    <h1>Informações do Equipamento</h1>
    <hr>
           
    <br>
    <div class="row">
      <div class="col-sm-2">
        <div class="card">
          <div class="card-body">
            <h4>Imagem</h4>
            <hr>

              <label></label><br>
              <img max-width:"200px" max-height:"150px" width:"auto" height:"auto" class="img-thumbnail rounded-start" src="{{ equipamento.imagem.url }}">
              <br>
          </div>
        </div>
      </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h4>Informações</h4>
              <hr>
                <br>
                <form action="{% url 'editar_equipamento' %}" method="POST">
                    {% csrf_token %}
               
                    <p>
                        <input type="hidden" value="{{ equipamento.id }}" name="equipamento_id">
                        <label>Equipamento:</label>
                        <input style="width: 70%;" name="nome" type="text" class="form-control" value="{{equipamento.nome}}">
                    </p>
            
                    <p>
                        <label>Serial:</label>
                        <input style="width: 70%;" type="text" name="serial" class="form-control" value="{{equipamento.serial}}">
                    </p>
            
                    <p>
                        <label>Empresa:</label>
                        <input style="width: 70%;" type="text" name="empresa" class="form-control" value="{{equipamento.empresa}}">
                    </p>
            
                    <p>
                        <label>Data Cadastro:</label>
                        {{equipamento.data_cadastro}}
                    </p>
                    <p>
                        <label>Categoria:</label>
                        <select style="width: 70%;" class="form-control" name="categoria_id">
                            {% for i in categoria_equipamento %}
                                {% if equipamento.categoria.nome == i.nome %}
                                    <option value="{{i.id}}"selected>{{i}}</option>
                                    {% else %}
                                        <option value={{i.id}}>{{i}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </p>
            
            
                    <label>Emprestado:&nbsp;&nbsp;</label>
                    
                    {% if equipamento.emprestado%}
                    <input style="transform: scale(1.5);" checked type="checkbox" name="Emprestado">
                    {% else %}                  
                        <input style="transform: scale(1.5);" type="checkbox" name="Emprestado">            
                    {% endif %}                   
                    <br>
                    <br>
                    <input type="submit" class="btn btn-success" value="Salvar"> 
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal2">
                        Excluir
                    </button>
                </form>  
            </div>
          </div>
        </div>
        
        <div class="col-sm-6">
          <div class="card">
            

                {% for emprestimo in emprestimos %}
                  <div class="card-body">
                    <form action="{% url 'devolver_equipamento' %}" method="POST">{% csrf_token %}
                      <input type="hidden" value="{{ equipamento.id }}" name="equipamento_id">
                      <input type="hidden" value="{{emprestimo.pk}}" name="id">
                        <h4>Dados Manutenção</h4>
                        <hr>
                      <p>
                          <label>Defeito:</label>
                          <input style="width: 70%;" type="text" name="defeito" class="form-control" value="{{emprestimo.defeito}}">
                      </p>
                      <p>
                          <label>Diagnostico:</label>
                          <input style="width: 70%;" type="textarea" name="diagnostico" class="form-control" value="{{emprestimo.diagnostico}}">
                      </p>
              
                      <p>
                          <label>Técnico Responsável:</label>
                          <input style="width: 70%;" type="text" name="tecnico_responsavel" class="form-control" value="{{emprestimo.tecnico_responsavel}}">
                      </p>
                      <p>
                        <label>Data Devolução:</label>
                        <input style="width: 40%;" type="date" name="data_devolucao" class="form-control" value="{{emprestimo.data_devolucao}}">
                      </p>
                      <p>
                {% endfor %}
                  </p>               
                  <br>
                  <br>
                  <input type="submit" class="btn btn-warning" value="Devolver"> 
                  </div>
              </form> 
          </div>
        </div>
      </div>  
    
    <hr>   
    <h1>Histórico de emprestimos</h1>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Empresa</th>
            <th scope="col">Data Empréstimo</th>
            <th scope="col">Data Devolução</th>
            <th scope="col">Tempo Duração</th>
          </tr>
        </thead>
        <tbody>
            {% for i in emprestimos %}
                <tr>
                    {% if i.empresa_anonima == None %}
                        <th scope="row">{{i.empresa_responsavel}}</th>
                    {% else %}
                        <td>{{i.empresa_anonima}}</td>
                    {% endif %}
                    <td>{{i.data_emprestimo}}</td>
                    <td>{{i.data_devolucao}}</td>
                    <td>{{i.data_devolucao|mostra_duracao:i.data_emprestimo}}</td>
                </tr>
            {% endfor %}    
        </tbody>
      </table>
<div>


{% endblock conteudo %}

